<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hotel.hms.persistence.RoomDAO">

	<select id="roomList" resultType="com.hotel.hms.vo.RoomVO">
			select * from room_tbl
	</select>

	<update id="repair" parameterType="String">
			update room_tbl set roomState=3 where roomNum = #{roomNum}
	</update>

	<update id="cleaning" parameterType="String">
			update room_tbl set roomState=2 where roomNum = #{roomNum}
	</update>
	
</mapper> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    