.logo {
    height: 3.5rem;
    background-color: #55789B;
    width: 100vw;
    line-height: 3.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.menu {
    background-color: #ffffff;
    height: 3.5rem;
}

.menu-item {
    float: right;
    display: inline-block;
    color: #191970;
    font-size: 1rem;
    line-height: 3.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #495057;
}

.menu-item:active, .menu-item.active {
    background-color: #1862ab;
}

.content {
    background-color: #ffffff;
    display: inline-table;
    width: 100vw;
}
.content2 {
    background-color: #ffffff;
}
