/* 설예진 스타일시트 */

.roomMainInput{
   background-color: #EBECF1; 
   height: 100px; 
   width: 100px;
   color: #516375;
}
.fontCo{
   color: #516375;
}
.backCo{
   background-color: #EBECF1;
   color: #55789B;
}
.redFont{
	background-color: #EBECF1;
   	color: red;
}
.textDa{
   text-decoration: none;
}
.updateBtn{
   background-color: #55789B; 
   border: #55789B; 
   color: #fff; 
   height: 30px;
}
.NumberSty{
   background-color: #EBECF1; 
   height: 100px; 
   width: 130px;
}
.nb{
      margin-left: 20%;
      margin-right: 30%;
   }
.numNb{
   margin-left: 5%;
   margin-right: 30%;
   font-size: 20px;
   color: #55789B;
}
.checkinBtn{
	background-color: #55789B; 
	border: #55789B; 
	color: #fff; 
	height: 30px
}