/*Modal----------------------------------------------------------------------------------------------------*/
#view_loading_wrap {position:fixed; overflow: hidden;top: 0;left: 0;width: 100%;height: 100%; z-index: 900000;}
* html #view_loading_wrap {position: absolute;}
#view_loading_wrap_overlay,#view_loading_wrap_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 899999;}
* html #view_loading_wrap_iframe {filter: alpha(opacity = 0.01);}
#viewLoading{position:fixed;top:50%;left:50%;z-index:900001;}
* html #viewLoading {position: absolute;}

#viewLoading div.view_loading_inner	{margin-top:-30px; position:relative; top:50%; width:60px; height:60px; zoom: 1;}
/* ë¡œë”© ì´ë¯¸ì§€ ìŠ¤íƒ€ì¼ì‹œíŠ¸ ì¶”ê°€ 2011-07-29 10:53:59 */

#view_loading_wrap_overlay{background:#000;opacity: 0.01;filter: alpha(opacity = 1);}

/* ê³µí†µ ë ˆì´ì–´ css */ 
#layer_wrap {position:fixed; overflow: hidden;top: 0;left: 0;width: 100%;height: 100%; z-index: 10000;}
#layer_wrap_01 {position:fixed; overflow: hidden;top: 0;left: 0;width: 100%;height: 100%; z-index: 10000;}
/* For IE6. */ 
* html #layer_wrap_01 {position: absolute;}
#layer_window{position:absolute;top:50%;left:50%;z-index:10001;}
#layer_overlay,#layer_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;}
#layer_overlay_01,#layer_iframe_01 {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 9999;}
* html #layer_iframe {filter: alpha(opacity = 0.1);}
* html #layer_iframe_01 {filter: alpha(opacity = 0.1);}
#layer_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
#layer_overlay_01 {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
/* ê³µí†µ ë ˆì´ì–´ css */

/* ê³µí†µ ë ˆì´ì–´ css */ 
 /* For IE6. */ 
* html #alert_layer_wrap {position: absolute;}
#alert_layer_wrap {position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;height: 100%;z-index: 11000;}
#alert_layer_window{position:absolute;top:50%;left:50%;z-index:11001;}
#alert_layer_overlay,#alert_layer_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 10999;}
* html #alert_layer_iframe {filter: alpha(opacity = 0.1);}
#alert_layer_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
/* ê³µí†µ ë ˆì´ì–´ css */


/* ë©”ì¸ ë¹ ë¥¸ ì„œë¹„ìŠ¤ ë¶€ë¶„ css */
#shortcutContent {z-index:100;height:28px;width:260px;overflow: hidden;}
#fastService {height:0;bottom:0;position:absolute;left:120px} 
		
/* Se ê²€ìƒ‰ ë ˆì´ì–´ css (ê²€ìƒ‰ë ˆì´ì–´ ìœ„ì— ìƒí’ˆë ˆì´ì–´ê°€ ë– ì•¼í•¨ ê·¸ëž˜ì„œ ê²€ìƒ‰ë ˆì´ì–´ë¥¼ ë”°ë¡œ ë¹¼ê³  ìƒí’ˆë ˆì´ì–´ë¥¼ ê³µí†µìœ¼ë¡œ í˜¸ì¶œí•˜ëŠ” ë°©ì‹ */
#search_modal_wrapper{display:none;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;z-index:9100;}	/* ì „ì²´ë¥¼ ì‹¸ëŠ” ì—­í™œ */
* html #search_modal_wrapper{position:absolute;} 
#search_modal_overlay,#search_modal_iframe{position:absolute;top: 0;left: 0;width: 100%;height: 100%;}
* html #search_modal_iframe {filter:alpha(opacity = 0.1);}
#search_modal_overlay{background:#000;opacity: 0.4;filter: alpha(opacity = 40);} 
/* TS ê²€ìƒ‰ ë ˆì´ì–´ css (ê²€ìƒ‰ë ˆì´ì–´ ìœ„ì— ìƒí’ˆë ˆì´ì–´ê°€ ë– ì•¼í•¨ ê·¸ëž˜ì„œ ê²€ìƒ‰ë ˆì´ì–´ë¥¼ ë”°ë¡œ ë¹¼ê³  ìƒí’ˆë ˆì´ì–´ë¥¼ ê³µí†µìœ¼ë¡œ í˜¸ì¶œí•˜ëŠ” ë°©ì‹ */


#modal_wrapper {display:none;position:fixed;overflow: hidden; top:0; width: 100%;height: 100%;z-index: 9200;}	/* ì „ì²´ë¥¼ ì‹¸ëŠ” ì—­í™œ. 0324 ã…right:0 for ie6 */
/* For IE6. */* html #modal_wrapper {position:absolute;}
#modal_overlay,#modal_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
* html #modal_iframe {filter: alpha(opacity = 0.1);}
#modal_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
#modal_content {overflow: hidden;}


/* S,C,P app modal css */
#product_modal_wrapper {display: none;position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;height: 100%;z-index: 9300;}	/* ì „ì²´ë¥¼ ì‹¸ëŠ” ì—­í™œ */
* html #product_modal_wrapper {position: absolute;}/* For IE6. */
#product_modal_overlay,#product_modal_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
* html #product_modal_iframe {filter: alpha(opacity = 0.1);}
#product_modal_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
#product_modal_content {overflow: hidden;}

#product_modal_wrapper {display: none;position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;height: 100%;z-index: 9300;}	/* ì „ì²´ë¥¼ ì‹¸ëŠ” ì—­í™œ */
* html #product_modal_wrapper {position: absolute;}/* For IE6. */
#product_modal_overlay,#product_modal_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
* html #product_modal_iframe {filter: alpha(opacity = 0.1);}
#product_modal_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
#product_modal_content {overflow: hidden;}


#last_modal_wrapper {display: none;position: fixed;overflow: hidden;top: 0;left: 0;width: 100%;height: 100%;z-index: 9300;}	/* ì „ì²´ë¥¼ ì‹¸ëŠ” ì—­í™œ */
* html #last_modal_wrapper {position: absolute;}/* For IE6. */
#last_modal_overlay,#last_modal_iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
* html #last_modal_iframe {filter: alpha(opacity = 0.1);}
#last_modal_overlay {background: #000;opacity: 0.4;filter: alpha(opacity = 40);}
#last_modal_content {overflow: hidden;}



/*Modal----------------------------------------------------------------------------------------------------*/