@charset "utf-8"; 

/* form */
.tblForm {width:100%;}
.tblForm th {padding-top:18px;font-family:NotoSans_Dl;font-weight:normal;text-align:right;letter-spacing:-0.6px;vertical-align:top;line-height:16px;}
.tblForm th.txt2row {padding-top:14px;}
.tblForm th em.regField {display:inline-block;width:10px;height:7px;background:url(https://image.kebhana.com/cont/common/img/common/icon_regField.gif) no-repeat 0 0;text-indent:-9999px;overflow:hidden;font-size:1px;line-height:30px;vertical-align:middle;}
.tblForm td {padding:10px 0 10px 20px; text-align: left;}

/* form_design */
.comboBox {position:relative;display:inline-block;left:0;width:99px;height:36px;margin-right:3px;}
.comboBox input[type="radio"] {position:absolute;width:102%;height:100%;z-index:-1;padding:2px;overflow:hidden;}
.comboBox input[type="radio"] + label {display:inline-block;width:98%;padding:9px 1px 6px;border:1px solid #d4d7da;background-color:#fafafa;font-size:14px;color:#757575;text-align:center;vertical-align:middle;}   
.comboBox input[type="radio"] + label.check {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}
.comboBox input[type="radio"] + label:hover,
.comboBox input[type="radio"] + label.check:hover,
.comboBox input[type="radio"]:focus + label,
.comboBox input[type="radio"]:focus + label.check {border:2px solid #cacdd0;padding:8px 0 5px;background-color:#fff;color:#2c2c2c;}

.choiceArea {display:inline;}
.tblForm td input.radioForm {position:absolute;top:-999px;left:-999px;}
.tblForm td label.radioForm {display:inline-block;height:28px;min-width:74px;font-size:14px;margin-top:7px;padding-right:15px;}
.tblForm td label.radioForm span {display:inline-block;height:20px;width:20px;margin-right:8px;background:url(https://image.kebhana.com/cont/common/img/common/bg_radio.png) no-repeat 0 0;vertical-align:middle;}
.tblForm td input.radioForm:focus + label.radioForm span {border:1px #808080 dashed;}
.tblForm td label.radioForm.on span {background-position:0 -50px;} 
.tblForm td input.checkForm {position:absolute;top:-999px;left:-999px;}
.tblForm td label.checkForm {display:inline-block;height:28px;min-width:84px;font-size:14px;margin-top:7px;margin-left:10px;}
.tblForm td label.checkForm span {display:inline-block;height:20px;width:28px;background:url(https://image.kebhana.com/cont/common/img/common/bg_checkbox.png) no-repeat 0 0;vertical-align:middle;}
.tblForm td label.checkForm.on span {background-position:0 -50px;} 

.regField_guide {text-align:right;vertical-align:middle;}
.regField_guide em.regField {display:inline-block;width:10px;height:7px;background:url(https://image.kebhana.com/cont/common/img/common/icon_regField.gif) no-repeat 0 0;line-height:30px;text-indent:-9999px;overflow:hidden;font-size:1px;vertical-align:middle;}
.tblForm input[type=text],.tblForm input[type=password] {width:185px;height:25px;padding:6px 10px 5px;border:1px solid #d4d7da;background-color:#fafafa;font-size:14px;color:#757575;vertical-align:middle;line-height:2;}
.tblForm input[type=text].check {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}
.tblForm input[type=text]:hover,
.tblForm input[type=text]:focus {padding:5px 9px 4px;border:2px solid #cacdd0;background-color:#fff;color:#2c2c2c;}
.tblForm input[type=text].err {border-color:#f5821f;background-color:#fff1e1;color:#2c2c2c;}
.tblForm input[type=text] + span.txtErr {display:none;margin-left:20px;color:#da3c05;vertical-align:middle;}
.tblForm input[type=text].err + span.txtErr {display:inline-block;}
.tblForm .comboBox + span.txtErr {display:none;margin-left:20px;color:#da3c05;vertical-align:middle;}
.tblForm .comboBox.err + span.txtErr {display:inline-block;}
.tblForm input.email {width:363px;}
.tblForm input.phone {width:52px;text-align:center;}
.tblForm input.phone + em, .basicSelect + em {display:inline-block;width:16px;height:1px;margin:0 1px;background-color:#c3cdd4;vertical-align:middle;}
.tblForm .selList + em {display:inline-block;width:16px;height:1px;margin:0 1px 0 -3px;background-color:#c3cdd4;vertical-align:middle;}
.tblForm input.title {width:680px;}
.tblForm input.title + span.txtErr {margin-left:0;padding-top:5px;}

.tblForm .selBox {position:relative;}
.tblForm .phone .btnMiddle {margin-left:6px;}
.tblForm .selBox.err .txtValue,.tblForm .selBox.err input {border-color:#f5821f;background-color:#fff1e1;color:#2c2c2c;}
.tblForm .selBox.err span.txtErr {display:inline-block;}
.tblForm .selBox.check input,.tblForm .selBox.check .txtValue {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}
.tblForm .selBox.check .txtValue:hover,.tblForm .selBox.check .txtValue.on {padding:9px 9px 5px;border:2px solid #cacdd0;background-color:#fff;}
.tblForm .selBox.check input:hover,.tblForm .selBox.check input:focus {padding:5px 9px 4px;border:2px solid #cacdd0;background-color:#fff;color:#2c2c2c;}
.tblForm .selList {position:absolute;top:48px;left:20px;height:0;overflow:hidden;background-color:#fff;}
.tblForm .selBox.phone .selList {width:98px;}
.tblForm .selBox.phone .selList + .txtErr {display:none;margin-left:0;margin-bottom:-27px;padding-top:6px;color:#da3c05;}
.tblForm .selBox.phone .selList.err + span.txtErr {display:inline-block;}
.tblForm .selBox.que .selList {width:204px;}
.tblForm .selList.on {z-index:9;height:auto;padding:5px 0;border:1px solid #7b7d7e;}
.tblForm .selList input[type="radio"] {position:absolute;width:100%;display:block;height:20px;z-index:-1;opacity:0;-ms-filter:alpha(opacity=0);filter:alpha(opacity=0);}
.tblForm .selList label {display:block;padding:3px 0 3px 9px;background-color:#fff;font-size:14px;color:#2c2c2c;} 
.tblForm .selList label:hover,.tblForm .selList label:focus,.tblForm .selList label:active,.tblForm .selList input:focus + label {color:#008485;text-decoration:underline;}

.tblForm .selBox.phone .txtValue {width:79px;}
.tblForm .selBox.que .txtValue {width:185px;}
.tblForm .txtValue {position:relative;z-index:8;display:inline-block;height:20px;padding:10px 10px 6px;margin-right:6px;border:1px solid #d4d7da;background:#fafafa url(https://image.kebhana.com/cont/common/img/common/bg_select.png) no-repeat right 15px;font-size:14px;cursor:pointer;vertical-align:middle;}
.tblForm .txtValue.on,.tblForm .txtValue:hover,.tblForm .txtValue:focus {padding:9px 9px 5px;border:2px solid #cacdd0;background-color:#fff;background-position:right 14px;color:#2c2c2c;}
.tblForm .txtValue.on {background-position:right -31px;}
.tblForm .txtValue.check {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}

.tblForm button.txtValue {position:relative;display:inline-block;height:auto;padding:10px 10px 6px;margin-right:6px;z-index:8;border:1px solid #d4d7da;background:#fff url(https://image.kebhana.com/cont/common/img/common/bg_select.png) no-repeat right 15px;font-size:14px;cursor:pointer;vertical-align:middle;text-align:left;}

.tblForm textarea {width:680px;height:155px;padding:10px;border:1px solid #d4d7da;background-color:#fafafa;font-size:14px;resize:none;}
.tblForm textarea:hover,.tblForm textarea:focus,.tblForm textarea.check:hover,.tblForm textarea.check:focus {padding:9px;border:2px solid #cacdd0;background-color:#fff;color:#2c2c2c;}
.tblForm textarea.check {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}
.tblForm textarea.err {border-color:#f5821f;background-color:#fff1e1;color:#2c2c2c;}
.tblForm textarea + span.txtErr {display:none;margin-left:0;margin-bottom:-27px;padding-top:6px;color:#da3c05;}
.tblForm textarea.err + span.txtErr {display:block;}
.tblForm .txtArea {width:690px;height:155px;padding:10px;border:1px solid #d4d7da;background-color:#fafafa;font-size:14px;resize:none;overflow-x:hidden;overflow-y:scroll;font-size:12px;}
.tblForm .txtArea p {margin-bottom:20px;}
.tblForm .txtArea ul {;}
.tblForm .txtArea ul li {margin-bottom:20px;}
.tblForm .txtArea ul li strong {padding-bottom:8px;}
.tblForm .txtArea_agree {margin-top:15px;font-size:14px;}
.tblForm .txtArea_agree input[type="radio"] {vertical-align:text-bottom;}
.tblForm .txtArea_agree > span:first-child {vertical-align:top;padding-top:7px;}
.tblForm .txtArea_agree span {display:inline-block;padding-right:16px;}
.tblForm .txtArea_agree label.radioForm span {padding-right:0;} 
.tblForm .txtArea_agree + span {display:none;margin-left:0;margin-bottom:-27px;padding-top:6px;color:#da3c05;}
.tblForm .txtArea_agree.err + span.txtErr {display:block;}
.tblForm .txtCunt {padding-top:5px;text-align:right;}
.tblForm .txtCunt strong {color:#008485;}

.tblForm .address,.tblForm .detailAddress {padding-top:20px;}
.tblForm .address label,.tblForm .detailAddress label {display:inline-block;width:77px;padding-right:23px;text-align:right;font-family:NotoSans_Dl;}

table.tblForm + p.btnBoxCenter {margin-top:40px;}
.tblBasic td input.mid {border:1px solid #cacdd0;padding:5px 8px 5px 8px;}

/* new select */
.select{width:200px;display:inline-block;*display:inline;position:relative;background:#fff;line-height:normal;vertical-align:middle;*zoom:1;}
.select *{ margin:0;padding:0;font-size:14px;cursor:pointer;}
.select .myValue{ overflow:visible;position:relative;top:0;left:0;z-index:2;border:1px solid #bababa;background:transparent;color:#6e6e6e;text-align:left;line-height:19px;_line-height:normal;}
.select .myValue.selected{ font-weight:bold;}
.select.open .myValue,
.select .myValue.outLine{ border:1px solid #999;}
.select button.myValue{ width:100%;height:38px;*padding-left:5px;text-indent:5px;*text-indent:0;}
.select div.myValue{ height:19px;text-indent:8px;}
.select .ctrl{ position:absolute;top:0;right:0;width:29px;height:36px;border:1px solid #bababa;border-left:1px solid #eaeaea;background:#fff;}
.select .arrow{ position:absolute;width:0;height:0;top:16px;right:9px;border-top:5px solid #999;border-left:5px solid #fff;border-right:5px solid #fff;font-size:0;line-height:0;}
.select ul{ overflow:hidden;position:absolute;top:38px;left:0;width:100%;border:0;border-top:1px solid #bababa;border-bottom:1px solid #bababa;background:#fff;list-style:none;}
.select ul.optionList{ display:none;}
.select.open ul.optionList{ display:block;}
.select li{ overflow:hidden;position:relative;height:23px;border-left:1px solid #bababa;border-right:1px solid #bababa;white-space:nowrap;}
.select li a{ display:block;height:23px;background:#fff;color:#767676;line-height:22px;text-indent:8px;*text-indent:6px;text-decoration:none;}
.select li.hover *{ background:#999;color:#fff;}


/* selectbox */
.basicSelect{height:34px;padding:3px 5px;font-size:14px;line-height:34px;}
.tradeSearchBox {background:#f9f9f6;padding:20px 25px;}
.tradeSearchBox table th {font:normal 12px 'NotoSans_Dl';color:#757575;padding-left:0;}
.tradeSearchBox .txtTypeExp {color:#757575;font-size:14px;vertical-align:middle;}
.tradeSearchBox .btnSmall {min-width:100px;margin-left:0;}

.btnRight_re {position:relative;margin:20px 0 30px;text-align:right;}
.btnRight_re a {margin-left:10px;}

.tblForm .calendar {position:relative;float:left;width:205px;background:#fff;border:1px solid #d4d7da;font-size:14px;color:#757575;vertical-align:middle;line-height:2;}
.tblForm .calendar input {width:144px;height:24px;background:#fff;padding:6px 10px 5px;margin:0;border:none;}
.tblForm .calendar a {position:absolute;top:7px;right:9px;}
.tblForm .calendar input[type=text]:hover,
.tblForm .calendar input[type=text]:focus {border:1px solid #cacdd0;border-right-width:2px;}
.tblForm .btnBox_re {margin-bottom:20px;}
.tblForm .calendar + span.txtTypeExp {display:inline-block;padding-left:10px;margin-top:10px;}
.btnBox_re a {margin-right:5px;font-weight:normal;border:1px solid #d4d7da;color:#757575;}

.calendarBox {display:inline-block;width:100%;margin:0 0 20px;}
.calendarBox span {float:left;padding:10px 10px;}

/* otp */
.TransferCardnum2 {display:inline-block;width:100%;border-bottom:#e3e3e3 1px solid;padding:20px 0 20px;margin-bottom:10px;margin-top:10px;background:#f8f9f4;border-top:#b0c7ba 2px solid;}
.TransferCardnum2 input[type=text] {width:185px;height:20px;padding:6px 10px 5px;border:1px solid #d4d7da;background:#fff;font-size:14px;color:#6e6e6e;vertical-align:middle;line-height:2;}
.TC2 {padding-bottom:12px;margin-bottom:0;}
.opt {width:680px;margin:0 auto;padding:5px 5px 5px 0;}
.opt_info,.opt_type_inner {width:680px;margin:0 auto;}
.opt label {vertical-align:middle;margin:7px 10px 0 0;}
.opt img,.opt input {vertical-align:middle;}
.opt_num {width:185px;}
.opt_type {width:100%;padding:24px 0;margin-bottom:10px;background:#f8f9f4;}
.opt_type span {float:left;}
.opt_type_warn {width:200px;float:left;}
.opt_type ul li,.opt_info li {padding-left:7px;margin-bottom:5px;background:url(https://image.kebhana.com/images/ico_bullet05.gif) no-repeat left 6px;color:#6e6e6e;font-size:11px;}
.opt_info li {margin-bottom:0;}
.opt_type_inner:after {content:"";display:block;clear:both;}
.warn04 {color:#0a8485;font-weight:bold;}

/** 201608 **/
.btnRight_tbl {position:relative;margin-top:20px;text-align:right}
.btnRight_tbl a {margin-left:10px}
.calendarBox {display:inline-block;width:100%;}
.verTxtType{color:#757575;font-size:14px;vertical-align:middle;padding-left:5px;}
.pdTxtType{color:#757575;font-size:14px;vertical-align:middle;padding-top:9px;}
.tblBasic td input.sml {border:1px solid #cacdd0;width:70px;padding:5px 0 5px 5px;}
.tblBasic td input.ml {border:1px solid #cacdd0;width:90px;padding:5px 0 5px 5px;}
.tblBasic td select.bSel{width:140px;padding:5px;border:1px solid #cacdd0;}
.tblBasic td input.txtRight {text-align:right;}
.tblBasic td input.phNum {border:1px solid #cacdd0;width:40px;padding:5px 0 5px 5px;}
.lab_none {position:absolute;top:-9999px;left:-9999px;visibility:visible;width:0;height:0;font-size:0;padding:0;margin:0;}
.keyCardNum { width:100%;margin:15px 0 0;border-top:1px solid #555;border-bottom:1px solid #ebebeb;overflow:hidden;position:relative} 
.keyCardNum .cardNum {width:340px;background:#f8f9fb;border:none !important;}
.keyCardNum .cardNum {border-right: 1px solid #ebebeb !important;min-height: 300px;}
.keyCardNum .cardNum .keyCardNumArea { padding:15px 0 15px 30px;border-bottom:1px solid #ddd; }
.keyCardNum .cardNum .keyCardPassArea { padding:15px 0 15px 30px; }
.keyCardNum .cardNum h6 { display:block;margin-top:10px;background:none;font-weight:bold; }
.keyCardNum input {background:#fff;}
.keyCardNum .cardNum .keyCardPassArea span {display:inline-block;padding:10px 0 0 15px;}
.keyCardNum .cardNum .keyCardPassArea span input {width:30px;padding-top:2px;font-size:20px;}
.keyCardNum .cardCode {position:relative;width:410px;height:280px;background:#fff;position:absolute;top:20px;left:50%;margin-left:-25px} 
.keyCardNum .cardCode img {position:absolute; z-index:0;}
.keyCardNum .cardCode .num {position:relative; display:inline-block;width:160px;height:28px;padding:7px 0 0 220px;}
.keyCardNum .cardCode .num input {float:left;width:9px;height:13px;margin:0 1px 0 0;padding-left:2px;font-size:9px;line-height:13px; text-indent:0;}
.keyCheck {display:inline-block;padding:0 0 0 10px;}
.keyCheck label {font-weight:lighter;}
.keyCardNum .cardCode .num input.none {background:transparent; text-indent:-100px;overflow:hidden;border:1px solid #fff;}
.keyCardNum .cardCode table {position:relative;width:auto;margin:0 0 0 10px !important;border-collapse:collapse;border-spacing:0;}
.keyCardNum .cardCode table th {width:27px;padding:0; text-indent:-100px;overflow:hidden;}
.keyCardNum .cardCode table td {width:43px;height:26px;padding:0 0 0 3px; text-align:left;}
.keyCardNum .cardCode td input {float:left;width:16px;height:13px;padding:2px 0 0 1px;font-size:8px;line-height:13px;border:1px solid #d4d7da;}
.keyCardNum .cardCode td label+input {margin-right:2px;}
.keyCardNum .cardCode td input.none {background:transparent; text-indent:-100px;overflow:hidden;border:0;}
.keyCardNum .cardCode td.input {background: url("/pbk/contents/img/sec_num.gif") no-repeat 5px 8px;}
.focusRed {border:2px solid #ca437b !important;margin:-2px 0 0 -2px;}
.bg_white {background:#fff;}
.keyCardNum .blind_input_mode_none {z-index:-1 !important;}
.keyCardNum .blind_input_mode_top {width:100%;margin-top:35px;height:230px; z-index:9 !important; display:block;}
.keyCardNum .blind_input_mode_bottom {width:100%;height:35px; z-index:9 !important; display:block;}
.keyCardNum .arrow_input_mode_none {z-index:-1 !important;;}
.keyCardNum .arrow_input_mode_top {left:0; top:27px;width:19px;height:19px;margin:0 0 0 -2px; display:block;}
.keyCardNum .arrow_input_mode_bottom {left:0; bottom:110px;width:19px;height:19px;margin:0 0 0 -2px; display:block;}
.security {font-size:14px;overflow:hidden;}
.secNum {color:#ca437b;font-size:18px;font-family:arial;font-weight:lighter !important; vertical-align:middle;}
.security strong {color:#ca437b;font-size:16px;font-family:arial;font-weight:lighter;}
.security p {padding:0 0 0 49px;}
.security div {padding:0 0 0 0;}
.security div input {width:13px;height:23px;padding:1px 0 0 4px;margin-right:4px;font-size:16px;font-family:arial;border:1px solid #ddd;}
.cardNum .orderListDot{width:280px;margin-top:20px;}
.cardNum .orderListDot li{line-height:20px;}
.basicSelect{height:37px;padding:7px 5px;font-size:14px;line-height:34px;background:#fafafa;border:1px solid #d4d7da;}
.basicSelect + .basicSelect {margin-left:4px;}
.tblForm td span + .basicSelect{margin-left:10px;} /* 20160930 �곕떽占� */
.tradeSearchBox .tblForm td .basicSelect{min-width:100px;background:#fff;} /* 20160930 �곕떽占� */
.tradeSearchBox table th {font:normal 12px 'NotoSans_Dl';color:#757575;padding-left:0;vertical-align:top; padding-top:18px;}
.tblForm .btnBox_re {margin-bottom :10px;} /* 20160831 //  margin-left:-5px; */
.tblForm td input, .tblForm td select {vertical-align:middle}

/* 20160811 �곕떽占� */
.tblForm .btnSmall.smBtnType01 {min-width:175px !important;margin-left:0} 
.txtTypeCoun {display:inline-block;margin-left:5px;color:#757575;font-size:14px;vertical-align:middle;}
.btnRight_tbl {position:relative;margin:10px 0 0;text-align:right} /* 20160831 占쎌���� */ 
.btnRight_tbl a {margin-left:10px}
.expTypeExp {margin-top:15px;}
.verTxtType{color:#757575;font-size:14px;vertical-align:middle;padding-left:5px;padding-right:10px;}
.pdTxtType{color:#757575;font-size:14px;vertical-align:middle;padding-top:9px;}
.tblBasic th.bdRight{border-right:1px solid #ebebeb;}
.rateBanner {padding:19px 30px;vertical-align:middle;background-color:#f8f9fb;height:26px;}
.rateBanner a {float:left}
.rateBanner span {float:right;}
.tblBond td input{border:1px solid #cacdd0;padding:5px 8px 5px 8px;}
.tblBond select{width:280px;height:27px;padding:3px 5px;font-size:14px;line-height:27px;border:1px solid #d4d7da;}
.titExp {padding:8px 0;}
.tblForm input.idNum {width:100px;text-align:center;}
p.tbExp{margin:20px 0 10px;}
.contGuide{margin:30px 0;}

/* 20160816 �곕떽占� */
.houdInputCont {padding-bottom:15px;} /* 20160819 占쎌���� */

/* 20160819 �곕떽占� */
.disBox{border:1px solid #7b7d7e !important;} /* 20160823 占쎌���� */
.tblBuyInfo input{border:1px solid #7b7d7e;padding:5px 0 5px 5px;} /* 20160823 占쎌���� */
.tblBuyInfo select{width:180px !important;border:1px solid #cacdd0;padding:5px 0 5px 5px;} /* 20160823 占쎌���� */
.subScription td .buyInfoChk{position:absolute;display:block;width:19px;height:19px;text-indent:100%;white-space:nowrap;overflow:hidden;}
.tblBasic td input.fileUploadName {border:1px solid #cacdd0;width:220px;padding:7px 0 7px 5px;vertical-align:middle}
.tblBasic input[type=text].check {background-color:#fff;border:1px solid #7b7d7e;color:#2c2c2c;}

/* 20160831 �곕떽占� // 揶���而� iframe 占쎄낮�� 占쎈�れ�� */
#HANA_CONTENTS_DIV > .contGuide {margin-top:0}

/* 20160831 �곕떽占� */
.chartArea input{vertical-align:middle;margin-left:20px;margin-right:2px;}
.chartArea label:first-child input{margin-left:0;}

.tradeSearchBox .btnBox_re.dateBtn .btnSmall {min-width:50px;border:1px solid #008485;color:#008485;}
.tradeSearchBox .btnBox_re.dateBtn .btnSmall.on, .tradeSearchBox .btnBox_re.dateBtn .btnSmall:hover, .tradeSearchBox .btnBox_re.dateBtn .btnSmall:focus {background-color:#008485;color:#fff;}
.calendarBox + .txtTypeExp {margin-top:-10px;}

/*  */
.tblForm.tblDevelop {}
.tblForm.tblDevelop th {padding-top:inherit;vertical-align:middle;}
.tblForm.tblDevelop th.txtTop {vertical-align:top;padding-top:18px;}
.tblForm.tblDevelop td p.pdTxtType {padding-top:4px;padding-bottom:3px;}

/* 20160901 add */
.txtTypeExp.calTxt, .txtTypeCoun.calTxt{font-size:12px;}
.tblBasic td.basePrice span.up em i {display:inline-block;width:14px;height:14px;background:url(https://image.kebhana.com/cont/common/img/common/icon_updw_arrow.png) no-repeat 0 3px;text-indent:-9999px;}
.tblBasic td.basePrice span.down em i {display:inline-block;width:14px;height:14px;background:url(https://image.kebhana.com/cont/common/img/common/icon_updw_arrow.png) no-repeat 0 -36px;text-indent:-9999px;}
.tblBasic td.basePrice span.up em{color:#e03d7c;}
.tblBasic td.basePrice span.down em{color:#008485;}
